#staticUsername, #staticEmail, #inputPassword, #inputPasswordConfirmation, #comment,
.tbody td p, th, tr, td, .fw-medium, #amount-input input, .card a, .thead strong,
.dropdown-menu a, .filterOption, .form-select, .product-details a, .container a, #password,
#username, #email, #confirmPassword, .btn, .form-control, #productTitle, #productPrice, #productCategory, #productImageLink,
#companyTitle, #companyImageLink, #categoryTitle, #countryTitle, #oldPassword, #countGuests, #orderTime, #orderDate, #accessToken,
#bonuses, #address, #companyDescription, #productDescription, #productComposition {
    color: #DA77EB;
}

.checkmark__circle {
    fill: #1D1D1D;
}

.btn-outline-danger, #message-delete {
    color: #DC3545;
}

#comment-text {
    color: #7fd03e;
}

#login-btn, #registration-btn {
    color: #1C1C1C;
}

body {
    color: #DA77EB;
    background-color: #111111;
}

.search .search-input {
    background: linear-gradient(45deg, #A9A9A9, #FFF8DC);
    height: 34px;
    border-radius: 50px;
}

.search:hover .search-button {
    background-color: #E6E6E6;
}


.search .search-button {
    color: #00B7FF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #212529;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

.product-card {
    background-color: #1D1D1D;
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 5px 2px 0 rgba(0, 000, 150, 54);
}

#preloader {
    background: #111111;
}

.pagination {
    --bs-pagination-border-color: #212529;
    --bs-pagination-color: #DA77EB;
    --bs-pagination-hover-color: #212529;
    --bs-pagination-hover-bg: #808080;
    --bs-pagination-hover-border-color: #1C1C1C;
    --bs-pagination-active-bg: #1C1C1C;
    --bs-pagination-active-border-color: #212529;
    --bs-pagination-bg: #212529;
    --bs-pagination-focus-bg: #2F3233;
    --bs-pagination-focus-box-shadow: #212529;
}

.modal__box {
    background-color: #212529;
}