body {
    color: black;
    background-color: #fff;
}

.search .search-input {
    background: linear-gradient(45deg, #333, #5A5454);
    height: 34px;
    border-radius: 50px;
}

.search:hover .search-button {
    background-color: #00B7FF;
}

.search .search-button {
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #FDFDFF;
    font-size: 20px;
    cursor: pointer;
    transition: .4s;
}

.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

#preloader {
    background: #f9f9f9;
}

.modal__box {
    background-color: white;
}

#message-text {
    color: #6AB04C;
}

.checkmark__circle {
    fill: #fff;
}

